@import "reset";
@import "variables";

body {
  font: 400 12px/1.5 "Lato", sans-serif;
  color: $base-color2;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wraper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 375px;
}

h2 {
  font-size: 43px;
  line-height: 1.2;
  text-align: center;
  padding: 63px;
  margin: 0;
}

h5 {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 10px;
}

.main {
  flex-grow: 1;
}

.header {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  a {
    display: inline-block;
    padding: 3px 15px;
    color: $base-color;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
}

.nav-list a:hover,
.nav-list li.active a {
  border-bottom: 2px solid $base-color;
}

.icons a:hover,
.text a:hover {
  border-bottom: 2px solid $base-color3;
}

.nav-list li.active a {
  cursor: auto;
}

.btn {
  border: 1px solid $base-color;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
}

.login a:hover,
.sign a:hover {
  background-color: #851a1a;
}

.btn-success1 {
  font-size: 14px;
  line-height: 1.2;
  padding: 7px 20px;
  color: $base-color;
}

.btn-success2 {
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 40px;
  color: #ed4c5c;
  background-color: $base-color;
  margin: 40px auto;
}

.hero {
  display: flex;
  align-items: center;
  background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url("../images/Rectangle3.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 50px;
  line-height: 1.5;
  color: $base-color;
  text-align: center;
}

.banner_text {
  max-width: 580px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}

.cloud_text {
  padding: 0 50px;
}

.head_title {
  font-size: 72px;
  line-height: 1.2;
  text-transform: uppercase;
}

.overview {
  background: #fafafa;
}

.card {
  display: flex;
  position: relative;
  margin: 10px;
  padding-bottom: 229px;
  width: 350px;
}

.img {
  max-width: 100%;
  height: auto;
}

.over {
  display: flex;
  position: absolute;
  background: $base-color;
  font-size: 12px;
  line-height: 1.5;
  height: 198px;
  width: 293px;
  left: 24px;
  top: 150px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
}

.text {
  display: block;
  text-align: center;
}

.text a {
  color: #ed4c5c;
  text-decoration: none;
  margin-top: 15px;
}

.box {
  align-items: flex-start;
  margin-top: 44px;
  margin-bottom: 104px;
  flex: 1 1 25%;
  padding: 10px 35px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}

.number {
  font-size: 100px;
  line-height: 1.2;
  font-weight: 700;
  color: rgba(16, 16, 16, 0.08);
  height: 40px;
}

.box_icon {
  display: block;
  text-align: center;
  margin: -50px auto;
}

.box h5 {
  margin-top: 70px;
}

.first {
  width: 80px;
  height: 80px;
}

.second {
  width: 66px;
  height: 66px;
}

.third {
  width: 70px;
  height: 70px;
}

.forth {
  width: 47px;
  height: 54px;
}

.footer {
  background: #fafafa;
  padding: 85px 10px;
}

.footer .flex-box {
  align-items: flex-start;
}

.address {
  line-height: 1.5;
}

.services {
  line-height: 1.6;
}

.get_in_touch {
  line-height: 2;
}

.item {
  flex: 1 1 25%;
  padding: 10px 30px;
  text-align: left;
}

.ft {
  padding-left: 0;
  text-align: left;
}

.nav-list_footer li {
  padding: 3px 0;
}

.nav-list_footer li a,
.icons a {
  color: $base-color4;
  text-decoration: none;
}

.main-nav_footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list_footer a:hover,
.nav-list_footer li.active a,
.icons a:hover {
  border-bottom: 2px solid $base-color3;
}

.nav-list_footer a,
.icons a {
  border-bottom: 2px solid transparent;
}

.nav-list_footer li.active a {
  cursor: auto;
}

.icons a {
  padding: 7px;
}

.copyright {
  margin-top: 155px;
}

#burger {
  display: none;
}

@media (max-width: 1199px) {
  h2 {
    padding: 50px;
    font-size: 38px;
  }

  .login {
    position: absolute;
    top: 15px;
    right: 0;
    left: 80%;
  }

  .header {
    top: 40px;
  }

  .main-nav {
    order: 3;
  }

  .nav-list {
    display: none;
    width: 300px;
    position: absolute;
    height: 100vh;
    top: -40px;
    right: 0;
    background: rgba(59, 55, 55, 0.5);
    padding: 20px;
    font-size: 14px;
    li {
      border-bottom: 1px solid $base-color3;
      padding-left: 0;
      a {
        display: inline-block;
        padding: 4px;
      }
    }
  }

  #burger:checked ~ .nav-list {
    display: block;
    padding-top: 100px;
  }

  .burger-icon {
    top: 0;
    right: 25px;
    position: absolute;
    width: 40px;
    z-index: 20;
  }

  .burger-icon span,
  .burger-icon::after,
  .burger-icon::before {
    background: $base-color;
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    margin: 8px 0;
    transition: 0.5s;
  }

  #burger:checked ~ .burger-icon:before {
    transform: translateY(12px) rotate(135deg);
  }

  #burger:checked ~ .burger-icon:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  #burger:checked ~ .burger-icon span {
    transform: scale(0);
  }

  .head_title {
    font-size: 50px;
  }

  .banner_text {
    font-size: 18px;
  }

  .sign {
    margin: 50px 10px 30px;
  }

  .overview .flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .features_section .flex-box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    padding-bottom: 150px;
  }

  .box {
    margin: 25px 10px 25px;
    flex: 1 1 33.33%;
    padding: 10px 35px;
  }

  .footer {
    position: relative;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .copyright {
    position: absolute;
    bottom: 30px;
    right: 35%;
    left: 40%;
  }
}

@media (max-width: 767px) {
  h2 {
    padding: 40px;
    font-size: 32px;
  }

  .login {
    position: absolute;
    top: 15px;
    right: 0;
    left: 68%;
  }

  .head_title {
    font-size: 40px;
  }

  .banner_text {
    font-size: 16px;
  }

  .box {
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin: 30px 0;
    padding: 10px;
  }

  .footer .flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    flex: 1 1 50%;
    padding-left: 30px;
    text-align: left;
  }

  .footer {
    padding: 10px 10px 85px;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    right: 30%;
    left: 35%;
  }
}

@media (max-width: 479px) {
  h2 {
    padding: 25px;
    font-size: 26px;
  }

  .login {
    position: absolute;
    top: 15px;
    right: 0;
    left: 58%;
  }

  .head_title {
    font-size: 30px;
  }

  .banner_text {
    font-size: 14px;
  }

  .box {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 44px 30px 104px;
    flex: 1 1 100%;
    padding: 10px 35px;
  }

  .footer .flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    flex: 1 1 50%;
    padding-left: 30px;
    text-align: left;
  }

  .box {
    margin: 10px;
    padding: 10px;
  }

  .footer {
    padding: 10px 10px 85px;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    right: 30%;
    left: 35%;
  }
}
